<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile
    </title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo.png" />
    <link rel="stylesheet" href="/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/style.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/profile_mediaquery.css">


    <style>
        .head span {
            font-size: 50px;
            line-height: 58px;
            margin: 0px -5px;

            text-shadow: 4px 3px 11px red;
        }

        .head {
            display: flex;
            align-items: baseline;
            color: rgb(255, 255, 255);
            font-weight: bold;
            font-size: 20px;
            display: flex;
            width: 100%;
            justify-content: center;
            text-transform: uppercase;
        }



        .cont {
            width: 100%;
            padding: 80px;
            height: auto;
            color: white;
            padding-top: 2.5rem;
        }

        .teaminfo {
            padding: 12px;
            display: flex;
            width: 60%;
            margin: auto;
            flex-direction: column;
            justify-content: center;
            height: 350px;
            text-align: center;
            border: 2px solid white;
            border-radius: 29px;
            box-shadow: 1px 1px 50px -16px red;
        }

        .teaminfo span {
            display: flex;
            margin: 3px;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 18px;
            height: 20%;
            margin: 35px;
        }

        .teaminfo div span {
            margin: 10px;
        }

        .span {
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 50px;
        }

        .span img {
            border-radius: 60px;
        }

        .contain::-webkit-scrollbar {
            display: none;
        }

        .player {
            margin: 10px;
            width: auto;
            min-height: 56px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            color: white;
            font-size: 18px;
        }

        .site-navbar {
            position: unset !important;
        }

        #conti {
            width: 60%;
        }



        #page {
            display: flex;
            width: 94%;
            min-height: 67vh;
            height: auto;
            margin: 0px auto 0px auto;
            align-items: center;
        }

        body {
            background: url('https://img.freepik.com/premium-vector/luxury-bright-red-lines-modern-sport-background_125759-132.jpg') no-repeat center center/cover;
            background-attachment: fixed;

        }

        .site-wrap {
            min-height: 63vh;
            height: auto;
            background-color: #00000047;
        }

        .leaderboard {
            max-width: 490px;
            width: 100%;
            border-radius: 12px;
        }




        .leaderboard__profiles {
            background-color: rgb(182, 14, 46);
            border-radius: 0 0 12px 12px;
            padding: 15px 15px 20px;
            display: grid;
            row-gap: 8px;
        }

        .leaderboard__profile {
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
            margin-bottom: 15px;
            align-items: center;
            padding: 10px 30px 10px 10px;
            overflow: hidden;
            border-radius: 10px;

            cursor: pointer;
            transition: transform 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98), box-shadow 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
            background-color: #fff;
        }

        .leaderboard__profile:hover {
            transform: scale(1.05);
            transition: all 0.2s;
        }

        .leaderboard__picture {
            max-width: 100%;
            width: 60px;
            border-radius: 50%;
            box-shadow: 0 0 0 500px rgb(182, 14, 46), 0 0 0 100px rgb(182, 14, 46);
        }

        .leaderboard__name {
            color: white;
            text-transform: uppercase;
            font-size: 20px;
            margin-left: 12px;
        }

        .leaderboard__value {
            color: rgb(182, 14, 46);
            font-size: 20px;
            text-align: right;
        }

        .leaderboard__value>span {
            opacity: 0.8;
            font-weight: 600;
            font-size: 13px;
            margin-left: 3px;
        }

        /* body {
            margin: 0;
            background-color: #eaeaea;
            display: grid;
            height: 100vh;
            place-items: center;
            font-family: "Source Sans Pro", sans-serif;
        } */

        .leaderboard {
            box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.4);
        }
    </style>
    <link rel="stylesheet" href="/css/teampage_mediaquery.css">

</head>

<body onload="load()">
    <%- include('partials/flash.ejs') %>
        <%- include('partials/preloader.ejs') %>

            <div style="background-color:black ;">
                <%- include('partials/navbar.ejs') %>
                    <div class="cont">
                        <div class="head">
                            <span>
                                Profile
                            </span>
                        </div>
                    </div>
            </div>
            <div class="site-wrap" style="background-color: rgb(0,0,0,0.5 ); ">
                <div id="page">

                    <div id="conti">
                        <div class="teaminfo">
                            <span class="span"><img src="<%=user.image%>" alt="To be Shown"></span>
                            <div>
                                <span>
                                    <%= user.firstName %>
                                </span>
                                <span>
                                    <%= user.email %>
                                </span>
                                <button class=" btn btn-primary"
                                    onclick="window.location='/auth/logout'">Logout</button>
                            </div>
                        </div>
                    </div>
                    <div class=" vl" style="width:1px ; height:50vh ; background-color: rgba(255, 255, 255, 0.463);">
                    </div>
                    <div class="team" style="width: 50%; ">
                        <div class="contain" style="height: 400px;overflow-y: scroll;width: 60%;margin: auto;">
                            <div class="title-section">
                                <h2 class="heading">Teams Joined</h2>
                            </div>
                            <% if(teams.length==0) { %>
                                <strong> No events registered yet</strong>
                                <% } else {%>

                                    <article class="leaderboard">
                                        <% for(let i=0;i<teams.length;i++){ %>
                                            <article style="background-color: rgb(182, 14, 46);"
                                                class="leaderboard__profile">
                                                <span class="leaderboard__name">
                                                    <%= teams[i].eventName %>
                                                </span>
                                                <span class="leaderboard__value">
                                                    <a target="_blank" href="/team?teamId=<%=teams[i]._id%>"
                                                        style="color:black; text-align: right;">
                                                        <%=teams[i].name%>
                                                    </a>
                                                </span>
                                            </article>
                                            <% }%>
                                    </article>
                                    <%}%>
                        </div>
                    </div>
                </div>
                <div>
                    <%- include('partials/footer.ejs') %>
                </div>
            </div>



            <script src="js/jquery-3.3.1.min.js"></script>
            <script src="js/jquery-migrate-3.0.1.min.js"></script>
            <script src="js/jquery-ui.js"></script>
            <script src="js/popper.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/owl.carousel.min.js"></script>
            <script src="js/jquery.stellar.min.js"></script>
            <script src="js/jquery.countdown.min.js"></script>
            <script src="js/bootstrap-datepicker.min.js"></script>
            <script src="js/jquery.easing.1.3.js"></script>
            <script src="js/aos.js"></script>
            <script src="js/jquery.fancybox.min.js"></script>
            <script src="js/jquery.sticky.js"></script>
            <script src="js/jquery.mb.YTPlayer.min.js"></script>


            <script src="js/main.js"></script>
</body>

</html>