<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team | <%= team.name %>
    </title>

    <!-- <link rel="stylesheet" href="/fonts/icomoon/style.css"> -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo.png" />
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/teampage_mediaquery.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body {
            background: url('https://img.freepik.com/free-vector/technology-web-banner-with-blue-red-lights-streak_1017-34380.jpg?w=1380&t=st=1665126361~exp=1665126961~hmac=390a86bb8f9a9b20689c004ebdb878912b44575a4326ff5fffbd33e622bc9d6d')no-repeat center center/cover;
            background-attachment: fixed;
        }

        .head span {
            font-size: 50px;
            line-height: 58px;
            margin: 0px -5px;

            text-shadow: 4px 3px 11px red;
        }

        .head {
            display: flex;
            align-items: center;
            color: rgb(255, 255, 255);
            font-weight: bold;
            font-size: 20px;
            display: flex;
            width: 100%;
            justify-content: center;
        }



        .cont {
            width: 100%;
            height: 249px;
            color: white;
            padding-top: unset !important;
        }

        .teaminfo {
            padding: 12px;
            display: flex;
            width: 70%;
            margin: auto;
            flex-direction: column;
            justify-content: center;
            height: 300px;


        }

        .teaminfo span {
            display: flex;
            margin: 3px;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 25px;
            height: 20%;
        }

        .teaminfo div span {
            margin: 10px;
        }

        .span {
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 50px;
        }

        .contain::-webkit-scrollbar {
            display: none;
        }

        .player {
            margin: 10px auto;
            width: 75%;
            height: 90px;
            min-height: 90px;
            color: white;
            font-size: 18px;
            border: 2px solid;
        }

        #conti {
            width: 50%;

        }

        #container {
            display: flex;
            width: 100%;
            min-height: 67vh;
            height: auto;
            margin: auto;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.3);
        }

        .contain {
            height: 400px;
            overflow-y: scroll;
            width: 75%;
            margin: auto;
            display: flex;
            flex-direction: column;
        }
    </style>
    <link rel="stylesheet" href="/css/teampage_mediaquery.css">

</head>

<body onload="load()">
    <%- include('partials/preloader.ejs') %>
        <div class="site-wrap" style="min-height: 63vh;height: auto;">
            <div style="background-color:black ;">
                <%- include('partials/navbar.ejs') %>
            </div>
            <div class="site-mobile-menu site-navbar-target">
                <div class="site-mobile-menu-header">
                    <div class="site-mobile-menu-close">
                        <span class="icon-close2 js-menu-toggle"></span>
                    </div>
                </div>
                <div class="site-mobile-menu-body"></div>
            </div>

            <div class="cont" style="background-color: black;">
                <div class="head">
                    <span>
                        <%= team.name%>
                    </span>
                </div>
            </div>
            <div id="container">

                <div id="conti">
                    <div class="teaminfo">
                        <div class="title-section">
                            <h2 class="heading m-0 mb-2 py-1" style="font-size: 20px">College : <%= team.college%>
                            </h2>
                        </div>
                        <div class="title-section">
                            <h2 class="heading m-0 mb-2 py-1" style="font-size: 20px">Refferal : <%= team._id%>
                            </h2>
                        </div>
                        <% if(user._id==leader._id) { %>
                            <div class="title-section">
                                <form action="/team/deleteTeam" method="post">
                                    <input type="hidden" value="<%= team._id %>" name="teamId">
                                    <button class="btn btn-primary">Delete Team</button>
                                </form>
                            </div>
                            <%}%>

                    </div>
                </div>
                <div class="team" style="width: 50%; ">
                    <div class="contain">
                        <% for(let i=0; i<teamMembers.length; i++) {%>
                            <div class="player">
                                <div style="display: flex;flex-direction: column;align-items: center;">
                                    <span class="d-flex">
                                        <%= teamMembers[i].firstName %>
                                            <% if(user._id==leader._id) { %>
                                                <form method="post" action="/team/deleteMember">
                                                    <input type="hidden" value="<%=teamMembers[i]._id%>"
                                                        name="memberId">
                                                    <input type="hidden" value="<%=team._id%>" name="teamId">
                                                    <button type="submit" style="background:rgb(0,0,0,0);"><i
                                                            style="color: red;"
                                                            class="material-icons">clear</i></button>
                                                </form>
                                                <% } %>
                                    </span>
                                    <Span>
                                        <%= teamMembers[i].email %>
                                    </Span>
                                </div>

                            </div>
                            <% } %>
                    </div>
                </div>
            </div>

            <%- include('partials/footer.ejs') %>

                <script src="js/jquery-3.3.1.min.js"></script>
                <script src="js/jquery-migrate-3.0.1.min.js"></script>
                <script src="js/jquery-ui.js"></script>
                <script src="js/popper.min.js"></script>
                <script src="js/bootstrap.min.js"></script>
                <script src="js/owl.carousel.min.js"></script>
                <script src="js/jquery.stellar.min.js"></script>
                <script src="js/jquery.countdown.min.js"></script>
                <script src="js/bootstrap-datepicker.min.js"></script>
                <script src="js/jquery.easing.1.3.js"></script>
                <script src="js/aos.js"></script>
                <script src="js/jquery.fancybox.min.js"></script>
                <script src="js/jquery.sticky.js"></script>
                <script src="js/jquery.mb.YTPlayer.min.js"></script>


                <script src="js/main.js"></script>
</body>

</html>